.slick-list{
  margin-left: -15px;
  margin-right: -15px;
}
.slick-slide{
  padding: 0 15px;
}
.tarkikComandSlider {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  display: none;
}
.slick-dots li:before {
  top: 1px;
  transition: all 0.5s;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  position: absolute;
}
.slick-dots li.slick-active:before {
  top: 0;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  background-color: #964848;
}

.slick-prev {
  right: 50px;
  transform: rotate(180deg);
}

.slick-next {
  right: 0;
}

.slick-arrow {
  top: -70px;
  height: 40px;
  width: 40px;
  position: absolute;
  font-size: 0;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 40px;
  z-index: 1;
}
.slick-arrow:after{
  content: '';
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-left: 1px solid #1a6499;
  border-bottom: 1px solid #1a6499;
  display: inline-block;
  transform: rotate(-135deg);
}

.slick-slide > div:not(:last-child){
  margin-bottom: 30px;
}
.comandSlider__item{
  position: relative;
  overflow: hidden;
}
.comandSlider__item .extra-boxes{
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(26, 100, 153, 0.7);
  color: #fff;
  padding: 15px;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}
.comandSlider__item:hover .extra-boxes{
  top: 0;
  opacity: 1;
  visibility: visible;
}
.comandSlider__item .extra-boxes .detail > div{
  display: inline-block;
  margin-left: 3px;
}
.comandSlider__item .extra-boxes .contributor i{
  margin-right: 5px;
}
.ds-slider-image{
  position: relative;
  height: 0;
  padding-top: 50%;
  overflow: hidden;
}
.ds-slider-image .comandSlider__item_photo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comandSlider__item header .comandSlider__item_name{margin: 0; position: relative; z-index: 1;}
.comandSlider__item header .comandSlider__item_name a{background: #f1f1f1; color: #1a6499; display: inline-block; vertical-align: bottom; width: 100%; padding: 14px 15px; font-weight: 500; line-height:24px; text-decoration:none; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.comandSlider__item:hover header .comandSlider__item_name a{background: #5ba744; color: #fff;}



