{{ attach_library('ds_slider/ds_slider') }}
<h2><strong>Featured</strong> Videos </h2>
<div class="tarkikComandSlider">
	{% for slide in sliders %}
		<article class="comandSlider__item">
			<div class="ds-slider-image">
			<img class="comandSlider__item_photo" src="{{ file_url(slide.field_video_thumb.entity.fileuri) }}" alt="test"/>
			</div>
		<div class="extra-boxes">
		<div class="contributor" ><i class="fa fa-user-md"></i>{{slide.field_contributor[0].entity.title.value}}</div>
		<div class="detail"><i class="fa fa-eye"></i>{% if node_view_count %}
          {% trans %}
            Viewed {{ node_view_count }} time
          {% plural node_view_count %}
            Viewed {{ node_view_count }} times
          {% endtrans %}
        {% endif %}{{ drupal_block('ds_node_count_block',  {node: slide.nid[0].value})}}
		</div>
		</div>	
			<header>
				<p class="comandSlider__item_name"><a href=" {{ path('entity.node.canonical', {'node': slide.nid[0].value}) }}">{{slide.title[0].value}}</a></p>
			</header>
		</article>
	{% endfor %}
</div>
